flowPiZeroW
[{"id":"3e71916e.01a592","type":"counter","z":"c658c459.c2e61","name":"Counter","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":1,"x":415,"y":486,"wires":[["2293ced8.e92eb6"]]},{"id":"c4bd4b6f.a556a8","type":"file","z":"c658c459.c2e61","name":"","filename":"/home/pi/filestowatch/button-pressed/button-pressed.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":265,"y":446,"wires":[]},{"id":"9f35bd5d.a14ab","type":"watch","z":"c658c459.c2e61","name":"","files":"/home/pi/filestowatch/button-pressed","recursive":true,"x":195,"y":486,"wires":[["3e71916e.01a592"]]},{"id":"2293ced8.e92eb6","type":"function","z":"c658c459.c2e61","name":"Set global","func":"if (msg.payload > 2) {msg.payload = msg.payload % 3}\nglobal.set(\"count\",msg.payload);","outputs":1,"noerr":0,"x":554,"y":486,"wires":[[]]},{"id":"edecc2cb.453dc","type":"counter","z":"c658c459.c2e61","name":"Counter","init":"1","step":"1","lower":"","upper":"","mode":"increment","outputs":1,"x":415,"y":621,"wires":[["2f4f6864.774f74"]]},{"id":"88551cf9.8f8a8","type":"file","z":"c658c459.c2e61","name":"","filename":"/home/pi/filestowatch/switch-moved/switch-moved.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":255,"y":581,"wires":[]},{"id":"87cff249.589a1","type":"watch","z":"c658c459.c2e61","name":"","files":"/home/pi/filestowatch/switch-moved","recursive":true,"x":195,"y":621,"wires":[["edecc2cb.453dc"]]},{"id":"2f4f6864.774f74","type":"function","z":"c658c459.c2e61","name":"Set global","func":"global.set(\"switched\",msg.payload);","outputs":1,"noerr":0,"x":555,"y":621,"wires":[[]]},{"id":"d0df4fb4.d085b","type":"mqtt in","z":"c658c459.c2e61","name":"","topic":"/test/engtemp","qos":"0","broker":"41368a09.4db448","x":84,"y":32,"wires":[["628f561a.68cc28"]]},{"id":"1c13c286.56ab45","type":"mqtt in","z":"c658c459.c2e61","name":"","topic":"/test/course","qos":"0","broker":"41368a09.4db448","x":84,"y":80,"wires":[["761f3634.80411c"]]},{"id":"26166ae0.fd4332","type":"function","z":"c658c459.c2e61","name":"Add temp property","func":"msg.sensor = \"temp\";\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":32,"wires":[["16c1aa6a.2b187e"]]},{"id":"cb565c05.ebdb6","type":"function","z":"c658c459.c2e61","name":"Add course property","func":"msg.sensor = \"course\";\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":80,"wires":[["16c1aa6a.2b187e"]]},{"id":"16c1aa6a.2b187e","type":"function","z":"c658c459.c2e61","name":"switch","func":"var getcount = global.get(\"count\");\nvar getswitched = global.get(\"switched\");\nmsg.speed = \"5\";\nif (msg.sensor == \"temp\" && getcount === 0 && getswitched % 2 !== 0) {\n    msg.payload = \"R90\\n\"+Math.round(Number(msg.payload));\n    msg.color = \"red\";\n return msg;\n}else if (msg.sensor == \"press\" && getcount === 1 && getswitched % 2 !== 0) {\n    msg.payload = \"R90\\n\"+msg.payload;\n    msg.color = \"grey\";\n return msg;\n}else if (msg.sensor == \"course\" && getcount === 2 && getswitched % 2 !== 0) {\n    msg.payload = Math.round(Number(msg.payload));\n    msg.payload = \"R90\\n\"+msg.payload;\n    msg.color = \"magenta\";\n return msg;\n}else if (msg.sensor == \"temp\" && getcount === 0 && getswitched % 2 === 0) {\n    msg.payload = \"R90\\n\"+Math.round(Number(msg.payload));\n    msg.color = \"red\";\n return msg;\n}else if (msg.sensor == \"appwind\" && getcount === 1 && getswitched % 2 === 0) {\n    msg.payload = \"R90\\n\"+msg.payload/10;\n    msg.color = \"aquamarine\";\n return msg;\n}else if (msg.sensor == \"log\" && getcount === 2  && getswitched % 2 === 0) {\n    msg.payload = \"R90\\n\"+msg.payload/10;\n    msg.color = \"blue\";\n return msg;\n}else return null;","outputs":1,"noerr":0,"x":439,"y":246,"wires":[["b40710eb.155718"]]},{"id":"8c887e0b.0f40e","type":"mqtt in","z":"c658c459.c2e61","name":"","topic":"/test/appwind","qos":"0","broker":"41368a09.4db448","x":84,"y":127,"wires":[["e063970f.5dc1c8"]]},{"id":"b77824ab.e4e5c8","type":"mqtt in","z":"c658c459.c2e61","name":"","topic":"/test/log","qos":"0","broker":"41368a09.4db448","x":59,"y":213,"wires":[["ef974bc2.8d1198"]]},{"id":"ee041827.6864c8","type":"function","z":"c658c459.c2e61","name":"Add appwind property","func":"msg.sensor = \"appwind\";\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":126,"wires":[["16c1aa6a.2b187e"]]},{"id":"ef974bc2.8d1198","type":"function","z":"c658c459.c2e61","name":"Add prpty","func":"msg.sensor = \"log\";\nmsg.payload =  msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":213,"wires":[["16c1aa6a.2b187e"]]},{"id":"17ac683b.b2bb18","type":"inject","z":"c658c459.c2e61","name":"random log","topic":"/test/log","payload":"","payloadType":"num","repeat":"1.5","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":174,"wires":[["1317df8.0a76f61"]]},{"id":"1317df8.0a76f61","type":"function","z":"c658c459.c2e61","name":"Rnd","func":"rnd = Math.round (Math.random() * 30) + 30;\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":173,"wires":[["aee7333a.9c862"]]},{"id":"aee7333a.9c862","type":"mqtt out","z":"c658c459.c2e61","name":"","topic":"/test/log","qos":"0","retain":"","broker":"41368a09.4db448","x":329,"y":173,"wires":[]},{"id":"b40710eb.155718","type":"rpi-sensehat out","z":"c658c459.c2e61","name":"","x":459,"y":286,"wires":[]},{"id":"9abd7629.c6ed18","type":"mqtt in","z":"c658c459.c2e61","name":"","topic":"/test/button-pressed","qos":"0","broker":"41368a09.4db448","x":115,"y":398,"wires":[["c4bd4b6f.a556a8"]]},{"id":"534d5f74.cf6f5c","type":"mqtt in","z":"c658c459.c2e61","name":"","topic":"/test/switch-moved","qos":"0","broker":"41368a09.4db448","x":115,"y":530,"wires":[["88551cf9.8f8a8"]]},{"id":"628f561a.68cc28","type":"delay","z":"c658c459.c2e61","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":259,"y":32,"wires":[["26166ae0.fd4332"]]},{"id":"761f3634.80411c","type":"delay","z":"c658c459.c2e61","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":253,"y":80,"wires":[["cb565c05.ebdb6"]]},{"id":"e063970f.5dc1c8","type":"delay","z":"c658c459.c2e61","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":253,"y":127,"wires":[["ee041827.6864c8"]]},{"id":"29be87cf.aed6c","type":"rpi-sensehat in","z":"c658c459.c2e61","name":"Sense HAT env.","motion":false,"env":true,"stick":false,"x":95,"y":260,"wires":[["2b6584d8.d3d9e8"]]},{"id":"2b6584d8.d3d9e8","type":"delay","z":"c658c459.c2e61","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":95,"y":300,"wires":[["82f7ce8c.ec775"]]},{"id":"5292ddcd.cee8f","type":"mqtt out","z":"c658c459.c2e61","name":"","topic":"test/press","qos":"0","retain":"","broker":"41368a09.4db448","x":80,"y":344,"wires":[]},{"id":"a668876b.551a18","type":"mqtt in","z":"c658c459.c2e61","name":"","topic":"test/press","qos":"0","broker":"41368a09.4db448","x":200,"y":344,"wires":[["1910a298.9a0959"]]},{"id":"1910a298.9a0959","type":"function","z":"c658c459.c2e61","name":"Add prpty","func":"msg.sensor = \"press\";\nmsg.payload =  msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":344,"wires":[["16c1aa6a.2b187e"]]},{"id":"82f7ce8c.ec775","type":"function","z":"c658c459.c2e61","name":"filter & offset","func":"msg = { payload: String(msg.payload.pressure) };\nvar originalval = msg.payload*100;\nmsg.payload = (parseFloat(originalval).toFixed(1) - 1625)/100;\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":300,"wires":[["5292ddcd.cee8f"]]},{"id":"41368a09.4db448","type":"mqtt-broker","z":"","name":"OpenPlotter","broker":"10.10.10.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"10","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
