flowOP
[{"id":"87ed28fd.e304b8","type":"websocket in","z":"d5f5accc.ed94f","name":"SignalK input","server":"7e814c7d.8956f4","client":"","x":90,"y":38,"wires":[["740003de.764b4"]]},{"id":"740003de.764b4","type":"json","z":"d5f5accc.ed94f","name":"","x":230,"y":38,"wires":[["f06faaf8.5fe0d8","a5d2090c.e3097","cf5e9f5.843aaa"]]},{"id":"f06faaf8.5fe0d8","type":"jsonpath","z":"d5f5accc.ed94f","expression":"$.updates..values[?(@.path==\"propulsion.eng.temperature\")]..value","split":true,"name":"EngTemp","x":360,"y":111,"wires":[["24d08fc1.ef2544","552d6b3b.b85f78"]]},{"id":"24d08fc1.ef2544","type":"delay","z":"d5f5accc.ed94f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":90,"y":244,"wires":[["1b216cf9.6b2ab3"]]},{"id":"1b216cf9.6b2ab3","type":"function","z":"d5f5accc.ed94f","name":"Convert to deg C","func":"var numInput = Number(msg.payload);\nmsg.topic = \"Eng\";\nvar T =  numInput-273.15;\nmsg.payload = T.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":244,"wires":[["6110a2ee.f1f2b8"]]},{"id":"6110a2ee.f1f2b8","type":"ui_chart","z":"d5f5accc.ed94f","name":"EngineGraph","group":"de8b5de8.c3a69","order":0,"width":"23","height":"7","label":"Engine temperature history","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"data","ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":460,"y":244,"wires":[[],[]]},{"id":"fb1284aa.1ba19","type":"ui_gauge","z":"d5f5accc.ed94f","name":"EngTempGauge","group":"977c4e8a.a22d48","order":1,"width":"3","height":"3","gtype":"gage","title":"Engine temperature","label":"Deg C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":284,"wires":[]},{"id":"a5d2090c.e3097","type":"jsonpath","z":"d5f5accc.ed94f","expression":"$.updates..values[?(@.path==\"navigation.headingMagnetic\")]..value","split":true,"name":"headingMagnetic","x":390,"y":38,"wires":[["e6c13f0c.78b97"]]},{"id":"552d6b3b.b85f78","type":"delay","z":"d5f5accc.ed94f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":90,"y":284,"wires":[["cbf905e2.2ce728"]]},{"id":"cbf905e2.2ce728","type":"function","z":"d5f5accc.ed94f","name":"Convert to deg C","func":"var numInput = Number(msg.payload);\nmsg.topic = \"Eng\";\nvar T =  numInput-273.15;\nmsg.payload = T.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":283,"wires":[["fb1284aa.1ba19"]]},{"id":"18535684.fb6f79","type":"function","z":"d5f5accc.ed94f","name":"Rad to Deg","func":"msg.payload = Math.round(Number(msg.payload)*180/3.14159265359)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":158,"wires":[["916ac830.dea9e8"]]},{"id":"916ac830.dea9e8","type":"mqtt out","z":"d5f5accc.ed94f","name":"","topic":"/test/course","qos":"0","retain":"","broker":"5759164d.7d016","x":430,"y":158,"wires":[]},{"id":"e6c13f0c.78b97","type":"delay","z":"d5f5accc.ed94f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":90,"y":158,"wires":[["18535684.fb6f79"]]},{"id":"cf5e9f5.843aaa","type":"jsonpath","z":"d5f5accc.ed94f","expression":"$.updates..values[?(@.path==\"environment.wind.speedApparent\")]..value","split":true,"name":"appWind","x":360,"y":74,"wires":[["28fb635c.8c67b8"]]},{"id":"28fb635c.8c67b8","type":"delay","z":"d5f5accc.ed94f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":90,"y":204,"wires":[["e31aaf80.cfbcd"]]},{"id":"ed48ff4a.912c6","type":"mqtt out","z":"d5f5accc.ed94f","name":"","topic":"/test/appwind","qos":"0","retain":"","broker":"5759164d.7d016","x":430,"y":204,"wires":[]},{"id":"e31aaf80.cfbcd","type":"function","z":"d5f5accc.ed94f","name":"m/s to knots","func":"msg.payload = Math.round(Number(msg.payload)*19.4384)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":204,"wires":[["ed48ff4a.912c6"]]},{"id":"7e814c7d.8956f4","type":"websocket-listener","z":"","path":"ws://localhost:3000/signalk/v1/stream","wholemsg":"false"},{"id":"de8b5de8.c3a69","type":"ui_group","z":"","name":"Eng Temp Graphs","tab":"ceba93a9.0e67e","disp":true,"width":"23"},{"id":"977c4e8a.a22d48","type":"ui_group","z":"","name":"Temperature gauges","tab":"3401a491.6e8614","disp":true,"width":"24"},{"id":"5759164d.7d016","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ceba93a9.0e67e","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard","order":2},{"id":"3401a491.6e8614","type":"ui_tab","z":"","name":"Gauges","icon":"dashboard","order":1}]
