flowOP
[{"id":"8225c2b5.12cd5","type":"websocket in","z":"601519e8.6d9d08","name":"SignalK input","server":"98def602.0bbb38","client":"","x":110,"y":40,"wires":[["d2d7b1e3.fe84d"]]},{"id":"d2d7b1e3.fe84d","type":"json","z":"601519e8.6d9d08","name":"","x":250,"y":40,"wires":[["f21d594a.390d78","e83f154b.dde568","4a01ec23.a6b454"]]},{"id":"f21d594a.390d78","type":"jsonpath","z":"601519e8.6d9d08","expression":"$.updates..values[?(@.path==\"propulsion.eng.temperature\")]..value","split":true,"name":"EngTemp","x":380,"y":113,"wires":[["f3ace018.e2c27"]]},{"id":"f3ace018.e2c27","type":"delay","z":"601519e8.6d9d08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":110,"y":246,"wires":[["fb2d13f0.70dcc"]]},{"id":"fb2d13f0.70dcc","type":"function","z":"601519e8.6d9d08","name":"Kelvin to deg C","func":"var numInput = Number(msg.payload);\nmsg.topic = \"Eng\";\nvar T =  numInput-273.15;\nmsg.payload = T.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":246,"wires":[["4dc477e.1f31f88"]]},{"id":"e83f154b.dde568","type":"jsonpath","z":"601519e8.6d9d08","expression":"$.updates..values[?(@.path==\"navigation.headingMagnetic\")]..value","split":true,"name":"headingMagnetic","x":410,"y":40,"wires":[["3d692d2f.924572"]]},{"id":"39741789.1145d8","type":"function","z":"601519e8.6d9d08","name":"Rad to deg","func":"msg.payload = Math.round(Number(msg.payload)*180/3.14159265359)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["e48cb3c2.ca26d"]]},{"id":"e48cb3c2.ca26d","type":"mqtt out","z":"601519e8.6d9d08","name":"","topic":"/test/course","qos":"0","retain":"","broker":"aa5d4df3.296b2","x":450,"y":160,"wires":[]},{"id":"3d692d2f.924572","type":"delay","z":"601519e8.6d9d08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":110,"y":160,"wires":[["39741789.1145d8"]]},{"id":"4a01ec23.a6b454","type":"jsonpath","z":"601519e8.6d9d08","expression":"$.updates..values[?(@.path==\"environment.wind.speedApparent\")]..value","split":true,"name":"appWind","x":380,"y":76,"wires":[["940e46c7.c683f8"]]},{"id":"940e46c7.c683f8","type":"delay","z":"601519e8.6d9d08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":110,"y":206,"wires":[["5f945558.7c1fcc"]]},{"id":"9e600d16.43a63","type":"mqtt out","z":"601519e8.6d9d08","name":"","topic":"/test/appwind","qos":"0","retain":"","broker":"aa5d4df3.296b2","x":450,"y":206,"wires":[]},{"id":"5f945558.7c1fcc","type":"function","z":"601519e8.6d9d08","name":"m/s to knots","func":"msg.payload = Math.round(Number(msg.payload)*19.4384)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":206,"wires":[["9e600d16.43a63"]]},{"id":"4dc477e.1f31f88","type":"mqtt out","z":"601519e8.6d9d08","name":"","topic":"/test/engtemp","qos":"0","retain":"","broker":"aa5d4df3.296b2","x":475,"y":245,"wires":[]},{"id":"98def602.0bbb38","type":"websocket-listener","z":"","path":"ws://localhost:3000/signalk/v1/stream","wholemsg":"false"},{"id":"aa5d4df3.296b2","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
