flowOP
[{"id":"1ecf4bc1.27ff64","type":"function","z":"fcc893c7.974c8","name":"Kelvin to deg C","func":"var numInput = Number(msg.payload);\nmsg.topic = \"Eng\";\nvar T =  numInput-273.15;\nmsg.payload = T.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["646d277d.4a0808"]]},{"id":"87573e81.73eea","type":"function","z":"fcc893c7.974c8","name":"Rad to deg","func":"msg.payload = Math.round(Number(msg.payload)*180/3.14159265359)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":34,"wires":[["d357a794.925d78"]]},{"id":"d357a794.925d78","type":"mqtt out","z":"fcc893c7.974c8","name":"","topic":"/test/course","qos":"0","retain":"","broker":"3f6807a9.b4aaf8","x":490,"y":34,"wires":[]},{"id":"ef119300.589f","type":"mqtt out","z":"fcc893c7.974c8","name":"","topic":"/test/appwind","qos":"0","retain":"","broker":"3f6807a9.b4aaf8","x":495,"y":88,"wires":[]},{"id":"91d88e04.0f6a6","type":"function","z":"fcc893c7.974c8","name":"m/s to knots","func":"msg.payload = Math.round(Number(msg.payload)*19.4384)\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":89,"wires":[["ef119300.589f"]]},{"id":"646d277d.4a0808","type":"mqtt out","z":"fcc893c7.974c8","name":"","topic":"/test/engtemp","qos":"0","retain":"","broker":"3f6807a9.b4aaf8","x":500,"y":140,"wires":[]},{"id":"4a5dc880.fa06b8","type":"signalk-subscribe","z":"fcc893c7.974c8","name":"heading","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.headingMagnetic","source":"","period":"100","x":160,"y":34,"wires":[["87573e81.73eea"]]},{"id":"fa8ea07d.25a73","type":"signalk-subscribe","z":"fcc893c7.974c8","name":"wind","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.wind.speedApparent","source":"","period":"100","x":150,"y":89,"wires":[["91d88e04.0f6a6"]]},{"id":"1860fc16.08f5f4","type":"signalk-subscribe","z":"fcc893c7.974c8","name":"engine","mode":"sendAll","flatten":true,"context":"vessels.self","path":"propulsion.eng.temperature","source":"","period":"100","x":150,"y":140,"wires":[["1ecf4bc1.27ff64"]]},{"id":"3f6807a9.b4aaf8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
